body {
    margin: 0;
    padding: 0px;
    font-family: "Roboto", sans-serif;
}

/****** TEMP LOGO IMG  ******/
#logo {
    display: flex;
	height: 50px;
	width: 50px;
	margin: 25px 0 0 50px;
}

#logo img {
	border-radius: 15%;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#menu {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: flex-end;
    font-size: 22px;
}

#menu a {
    text-decoration: none;
    padding: 15px;
    display: flex;
    align-content: flex-end;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-right: 30px;
}

#menu a:hover {
    color: aqua;
}

input {
    display: none;
}

/* bosy */

#veronica {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.VisualVeronica {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 400px;
}
.veronica-about {
    color:#777777;
}
.productdesign {
	color:#B31E31;
}


.section-title {
    font-size: 35px;
    color: #434343;
    font-style: normal;
}
.case-studies img{
    width: 100%;
}
.casetext {
    display:flex;
    justify-content: space-between;
}

.case-1-desktop-text {
    padding: 0 0 0 25px;
    font-size: 30px;
    color: #434343;
}
.case-1-desktop-text-2{
    font-size: 18px;
    padding: 0 15px;
    text-align: left;
    margin-left: 500px;
}

.special-text {
    color: #979797;
    font-size: 24px;
}


footer ul{
    display: flex;
	flex-direction: row;
	list-style: none;
	width: 100%;
	position: fixed;
	bottom: 0px;
    font-weight: bold;
    color: blue;
	text-align: center;
	justify-content: space-evenly;
	font-family: "Roboto", sans-serif;
}

ul{
    background-color:none;
}


.about-me h1{
	text-align: center;
	align-items: center;
	padding-top: 10px;
	color: navy;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.rs-title h1{
	font-size: 140px;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	line-height: 95%;
	color: black;
    margin-left: 25px;
    padding-left: 10px;
}

.dl-resume a{
	width: 25%;
	display: block;
    justify-content: flex-start;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    align-items: flex-start;
	margin-top: 10px;
    margin-bottom: 86px;
    padding: 11px 25px;
    float: none;
    border-radius: 10px;
	background-color:tomato;
	text-align: center;
	line-height: 24px;
    margin-left: 40px;
    padding-left: 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.resume-info h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}