body {
    margin: 0;
    padding: 0px;
    font-family: "Roboto", sans-serif;
}

#menu {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    font-size: 22px;
}

#menu a {
    text-decoration: none;
    padding: 15px;
    display: flex;
    align-content: flex-end;
    color: black;
}

#menu a:hover {
    color: aqua;
}

input {
    display: none;
}


.name {
    display:flex;
    justify-content: center;
    align-items: center;
}
.veronica-about {
    display:flex;
    justify-content: center;
    align-items: center;
    border: solid;
    border-width: thin;
}

footer ul{
    display: flex;
	flex-direction: row;
	list-style: none;
	width: 100%;
	position: fixed;
	bottom: 0px;
    font-weight: bold;
    color: blue;
	text-align: center;
	justify-content: space-evenly;
	font-family: "Roboto", sans-serif;
}

ul{
    background-color:none;
}